<div class="padded">
  <header>
    <div class="row">
      <div class="large-12 columns">
        <h1>Stuff I've Built.</h1>
        <hr>
      </div>
    </div>
  </header>

  <div class="row">
    <% @projects.each do |project| %>
    <div class="large-4 medium-4 small-12 columns">
      <div class="post">
        <%= image_tag attachment_url(@project, :project_image, :fill, 300, 100, format: "jpg") %>
        <h2><a href="#"><%= link_to project.title, project %></a></h2>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
        <hr />
        <%= link_to "Read Article", project %>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate @posts %>
</div>