<div class="padded">
  <header>
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @project.title %></h1>
        <p class="date"><a href="<%= @project.link %>" target="_blank">View Project</a></p>
        <hr>
      </div>
    </div>
  </header>
  
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <div id="content">
        <%= image_tag attachment_url(@project, :project_image, :fill, 1200, 1000, format: "jpg") %>
        <%= simple_format @project.description %>
        <%= link_to "Edit", edit_project_path, class: "button" %>
      </div>
    </div>
  </div>

  <hr>

</div>

