<div class="padded">
  <header>
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @post.title %></h1>
        <p class="date">Posted by Justin on <%= @post.created_at.strftime('%A, %B %d') %></p>
        <hr>
      </div>
    </div>
  </header>
  
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <div id="content">
        <%= simple_format @post.content %>
        <%= link_to "Edit", edit_post_path, class: "button" %>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="large-12 columns">
      <div class="share_box">
        <p>Share This Article</p>
          <!-- Twitter -->
      <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @mjbatphoto - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
      <!-- Facebook -->
      <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
      <!-- Google Plus -->
      <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>

</div>
